@charset "UTF-8";

html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(49, 8, 87);
    overflow: hidden;
}

section#icons img {
    width: 40px;
    margin: 6px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.322);
    box-sizing: border-box;
}

.bar-lateral{
    display: flow-root;
    
    
}

section#icons {
    text-align: left;
}

