@charset "UTF-8";

html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(49, 8, 87);
    overflow: hidden;
}

section#icons img {
    width: 40px;
    margin: 6px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.322);
    box-sizing: border-box;
}

.bar-lateral{
    display: inline-block;
    
    
}

section#icons {
    text-align: left;
}

section#phone {
    position: absolute;
    background: none;
    background: url(../pacote_projeto/images/frame-phone-mini.png) no-repeat;


    width: 448px;
    height: 552px;
}

iframe#screen {
    position: relative;
    top: 32px;
    left: 72px;
    border-radius: 12px;
    width: 302px;
    height: 469px;
    
}
